Repository MonashAIM/harmonic-dense-network, pull requests merged in 2024-12, with the labels that each got.

#15 [dataset][feature] Allow restrict shapes for dataloader func
  .vscode/settings.json
  data/torchio_dataset.py
  main.py
Labels: dataset, enhancement

#16 [model][feature]Training and model update
  data/torchio_dataset.py
  main.py
  models/HarDNet.py
  models/HarDUNet.py
  models/TransHarDNet.py
  models/helper.py
  tests/test_model.py
  utils/loss_utils
  utils/train_utils.py
Labels: model, feature

#17 [ops][featrue] Init dvc
  .dvcignore
  .gitignore
  dataloader/__init__.py
  dvc.yaml
  params.yaml
  train.py
  weights/.gitignore
  weights/hardnet39ds.pth.dvc
Labels: enhancement, operations

#19 [dataset][bugfix] overhaul with transformation
  .gitignore
  README.md
  data/ISLES_dataset.py
  data/torchio_dataset.py
  main.py
  models/helper.py
  params.yaml
  requirements.txt
  train.py
  utils/loss_utils.py
Labels: bugfix, dataset

#20 [training][features]Updated train_utils
  main.py
  utils/loss_utils.py
  utils/train_utils.py
Labels: feature, operations

#23 [ops][bugfix] Updated models and traininig utils into pytorch lightning. Also made 2D models
  data/ISLES_dataset.py
  main.py
  models/HarDNet.py
  models/HarDUNet2D.py
  models/HarDUNet3D.py
  models/helper2D.py
  models/helper3D.py
  tests/test_model.py
  train.py
  utils/train_utils.py
Labels: bugfix, operations
