Repository MonashAIM/harmonic-dense-network, pull requests merged in 2025-01, with the labels that each got.

#30 [model and training][features]Added mseg_hardnet and debugged training utils
  main.py
  src/data/covid_dataset.py
  src/models/HarDNet.py
  src/models/HarDUNet2D.py
  src/models/helper2D.py
  src/models/helper3D.py
  src/models/mseg_hardnet.py
  src/utils/train_utils.py
Labels: bugfix, model, feature

#31 [feature][ops and model]Updated mseg, isles dataset, and made training notebook
  main.py
  src/data/ISLES_dataset.py
  src/models/configs/39DSarch_config.yaml
  src/models/configs/68arch_config.yaml
  src/models/configs/85arch_config.yaml
  src/models/mseg_hardnet.py
  src/notebooks/training.ipynb
  src/utils/train_utils.py
Labels: model, dataset, feature, operations

#33 [ops] Smooth local script
  .gitignore
  dvc.yaml
  guild.yml
  src/data/isles_22/derivatives/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_msk.nii.gz
  src/data/isles_22/derivatives/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_snp.png
  src/data/isles_22/rawdata/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_adc.json
  src/data/isles_22/rawdata/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_adc.nii.gz
  src/data/isles_22/rawdata/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_dwi.json
  src/data/isles_22/rawdata/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_dwi.nii.gz
  src/data/isles_22/rawdata/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_flair.json
  src/data/isles_22/rawdata/sub-strokecase0009/ses-0001/sub-strokecase0009_ses-0001_flair.nii.gz
  src/params.yml
  src/steps/train.py
Labels: operations

#34 [dataset][feature]Updated dataset to 2D and 3D datasets
  .gitignore
  main.py
  src/data/ISLES_dataset.json
  src/data/ISLES_dataset_2D.py
  src/data/ISLES_dataset_3D.py
  src/notebooks/training.ipynb
  src/params.yml
  src/steps/train.py
  src/tests/test_ISLES_dataset.py
  src/utils/train_utils.py
Labels: dataset, enhancement, feature, operations
